<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/css/index.css" />
    <script src="https://kit.fontawesome.com/3fbc68957e.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous" />
    <title>Home</title>
  </head>
  <body>
    <!--NavBar Start-->
    <nav class="navbar navbar-expand-lg bg">
      <div class="container-fluid">
        <a class="navbar-brand" href="/"><img class="rounded" src="assets/image/fofo-removebg-preview.png" alt="logo" width="60px" /></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/addProject">Add Project</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/testimonial">Testimonial</a>
            </li>
          </ul>
          {{#if isLogin}}
            <p class="me-3">Welcome, {{user.name}}</p>
            <a href="/logout"><button class="btn btn-danger border-0 me-3">Logout</button></a>
          {{else}}
            <a href="/register" class="text-decoration-none rounded fs-6 mx-3 text-dark">Register</a>
            <a href="/login" class="text-decoration-none rounded fs-6 mx-3 text-dark">Login</a>
          {{/if}}
          <a href="/contact">
            <button class="btn btn-dark border-0" type="submit">Contact Me</button>
          </a>
        </div>
      </div>
    </nav>
    <!--NavBar End-->

    <!--Card Start-->
    {{#if messages.success}}
      <div class="alert alert-success text-center" role="alert">
        <div class="container">
          {{messages.success}}
        </div>
      </div>
    {{/if}}
    <div class="container my-5">
      <div class="card mb-3 mx-auto p-4" style="width: 70%">
        <div class="row g-0">
          <div class="col-md-8">
            <div class="card-body">
              <h1 class="card-title">Selamat Datang</h1>
              <p class="card-text fs-4 mt-3">Saya Ageng Pangestu, saat ini saya sedang belajar Fullstack Developer di dumbways. mentor-mentor yang seru dan asik membuat saya lebih bersemangat untuk terus mengikuti bootcamp ini. Semangat
                semuanya!</p>
            </div>
            <div class="card-btn mt-3 mx-3">
              <a href="/contact" class="btn btn-dark border-0">contact</a>
              <a href="" class="download-link text-dark ms-4">download CV <span><i class="fa-solid fa-download"></i></span></a>
            </div>
            <div class="link-logo fs-2 my-3 mx-3">
              <a href=""><i class="fa-brands fa-linkedin"></i></a>
              <a href="https://www.instagram.com/agenggpangestu/"><i class="fa-brands fa-square-instagram"></i></a>
              <a href="https://www.facebook.com/search/top/?q=mark%20zuckerberg&locale=id_ID"><i class="fa-brands fa-square-facebook"></i></a>
              <a href=""><i class="fa-brands fa-square-twitter"></i></a>
            </div>
          </div>
          <div class="img col-md-4 rounded text-center">
            <img src="assets/image/foto1.jpeg" class="img-fluid rounded" alt="Foto" />
            <h4>Ageng Pangestu</h4>
            <p>Fullstack Developer</p>
          </div>
        </div>
      </div>
    </div>
    <!--Card End-->

    <!--Project Content Start-->
    <div class="container-fluid project-content-container" style="margin-top: 100px;">
      <h1 class="text-center">MY PROJECT</h1>
      <div class="container-project mx-auto p-3 bg-light shadow rounded d-flex flex-wrap justify-content-center" style="width: 80%;">
        {{#each obj}}
          <div class="project-card rounded p-2 shadow m-3" style="width: 350px;">
            <div class="project-image mb-2">
              <img class="rounded" src="../assets/image/{{image}}" alt="Foto" />
            </div>
            <a href=""></a>
            <div class="project-info">
              <a class="project-name text-decoration-none fs-5 fw-bold" href="/projectDetail/{{this.id}}" target="_blank">{{this.projectName}}</a>
              <p>{{this.id}} | {{duration}} | {{this.technologies}}</p>
              <p>{{this.description}}</p>
              <div class="logo fs-4 mb-2">
                <a href=""><span><i class="fa-brands fa-google-play"></i></span></a>
                <a class="ms-2" href=""><span><i class="fa-brands fa-android"></i></span></a>
                <a class="ms-2" href=""><span><i class="fa-brands fa-java"></i></span></a>
              </div>
              <div class="row project-btn d-flex row justify-content-center text-center">
                <a href="/updateProject/{{this.id}}" class="text-decoration-none col-3 mx-2 fs-6">
                  <button class="btn-project rounded border-0">edit</button>
                </a>
                <form class="col-3" method="post" action="/deleteProject/{{this.id}}">
                  <button class="btn-project rounded border-0 fs-6">delete</button>
                </form>
              </div>
            </div>
          </div>
        {{/each}}
      </div>
    </div>
    <!--Project Content End-->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>